# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build output
dist/
build/

# Webpack cache
.cache/
webpack-cache/

# Logs
*.log

# System files
.DS_Store
Thumbs.db

# Editor junk
.vscode/
.idea/

# Env files
.env
.env.local
